@import "./header.css";
@import "./footer.css";

body {
  /* always define the unit: 8px, 8em, 8rem, 8pt */
  margin: 8; 
}

nav {
  font-size: 2rem;
  color: salmon;
  text-align: right;
}

.index-content {
  margin: 1rem;
}

.index-content img {
  display: block;
  margin: 0 auto;
}

.index-content p {
  text-align: center;
}
